/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

*.bat
*.sh

/bin/
/.gradle/
/.metadata/
/.settings/
/build/
/eclipse/
/.classpath
/options.txt
/logs/
/config/
/saves/
